<h2>Detail Drone</h2>
<div>
  Name:  <%=drone.droneName%>
</div>
<div>
  Propellers: <%=drone.propellers%>
</div>
<div>
  Max Speed: <%=drone.maxSpeed%>
</div>
<a href="/drones" class="btn btn-primary">Back</a>
